@import "config";
@import "utilities";

$box-height: 280px;
$box-width: 350px;

#signup-box {
    position: absolute;
    width: $box-width;
    height: $box-height;
    top: calc(50% - calc($box-height * .5));
    left: calc(50% - calc($box-width * .5));
    z-index: 10;
    background: $light-blue;
    visibility: hidden;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
    opacity: 0;


    &.show {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    form {
        height: 100%;
        padding: 1rem;

        button {
            display: block;
            margin: auto;
        }
        
        .group {
            label {
                display: block;
            }

            input {
                border: none;
                padding: .4rem;
                border-radius: 5px;
                width: 100%;
                margin: .5rem 0 1rem 0;

                &:focus {
                    outline: none;
                }
            }
        }
    }
}

